.navBar {
  list-style: none;
  display: flex;
  flex-direction: column;
 

  gap: 5%;
  /* background-color: rgba(0, 227, 187, 0.999); */
  height: 50px;
  margin: 0;
  color: black;
position: fixed;
   left:0;
  height: 100%;
   width: 10px; 
}

a {
    color: white;
    text-decoration: none;
}
body {
  margin: 0;
  background-color: rgb(25, 26, 26);
  color: white;
  font-style: normal;
  display: flex;
  flex-direction: column;

}
.nav-link {
  text-decoration: none;
  color: black;
  text-align:center;
  margin-right: 0px;
  transform-origin: 0 0;
  transform: rotate(90deg);
  
}

.resume-btn {
    background-color: rgba(8, 14, 13, 0.652);
    color: white;
    height: 60px;
    top: 20%;
    border-radius: 25px;
    width: 100px;
    box-shadow: 4px -4px 7px rgba(0, 227, 187, 0.999);
}

.resume-btn:hover {
    box-shadow: 2px -2px 5px rgba(0, 227, 187, 0.999);
    transition-duration: .3s;
}

.resume-btn:active {
    opacity: 0.4;
    box-shadow: 2px 8px 2px rgba(70, 69, 69, 0.301);
    transition-duration: 0.3s;
}
.about {
  background-color: rgba(72, 122, 157, 0.304);

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4%;
 
}

.about-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 32%;
}

.about-info {
    width: 80%;
}

.aboutImg {
    width: 280px;
    margin: 5px ;
    border-radius: 25px;
}

.intro {
  background-color: rgba(72, 122, 157, 0.304);
  background-size: cover;
  height: 900px;
 
}

.intro-name { 
    background-color:rgba(0, 227, 187, 0.999) ;
    height: 35%;
}

.name {
  position: relative;
  top: 200px;
  left: 15%;
  font-size: 80px;
  margin: 0 0 0 0;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
 
}

.brand-statement {
  position: relative;
  
  top: 20%;
  width: 80%;
  
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20%;
  word-spacing: 10px;
}
.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  align-items: baseline;
  align-content: center;
  /* background-color: rgba(72, 122, 157, 0.304); */
}
.project {
  width: 320px;
  height: 400px;
  background-color: rgba(42, 59, 68, 0.954);
  border-radius: 25px;
  box-shadow: 10px 10px 7px rgba(0, 227, 187, 0.999);
  margin: 50px;
  opacity: 1;
  margin-bottom: 20px;
}

.project:hover {
  opacity: 0.8;
  box-shadow: 4px 4px 10px rgba(0, 227, 187, 0.999);
  transition-duration: 0.3s;
 

}

.project:active {
  opacity: 0.4;
  box-shadow: 2px 8px 2px rgba(70, 69, 69, 0.301);
  transition-duration: 0.3s;
  width: 300px;
}

.project-img {
  width: 280px;
  height: 180px;
  border-radius: 25px;
}
.description {
    width: 300px;
}

.technolgy-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  width: 220px;
  align-content: center;
}


.site {
  background-color: rgba(0, 227, 187, 0.999);
  border-radius: 15px;
  width: 90px;
  height: 40px;
  color: black;
  box-shadow: 6px 5px 7px rgba(128, 128, 128, 0.301);
}
.site:hover {
  color: white;
  background-color: rgba(211, 208, 208, 0.726);
  transition-duration: 0.3s;
  box-shadow: 4px 3px 8px rgba(0, 227, 187, 0.999);
}

.site:active {
  color: rgba(59, 59, 59, 0.918);
  background-color: rgba(211, 208, 208, 0.342);
  transition-duration: 0.3s;
  box-shadow: 2px 2px rgba(128, 128, 128, 0.555);
}

.foot {
  background-color: rgba(0, 0, 0, 0.603);
  position: fixed;
  bottom: 0%;
  height: 50px;
  width: 100%;
}

.project-title {
position: relative;
left: 45%;
}

.profileImg {
  position: relative;
  left: 60%;
  width: 300px;
  border-radius: 25px;
}


.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
    margin: 0 30px 0 0;
}
.social {
   gap: 5px;
}

.projects {
  background-color: rgba(128, 128, 128, 0.01);
  
  min-height: 1000px;
}

.about-desc {
  margin-bottom: 10%;
}